{% extends 'base.html' %}

{% block content %}

    <a href="/rss/">
        <img src="/static/feed-icon.svg" alt="RSS | Subscribe" id="blog-feed-icon" />
    </a>
    

    {% for post in posts %}
            <a href="{{ post.url }}" class="blog-post-anchor">
                <div class="mdl-card mdl-shadow--2dp blog-post-card">
                  <div class="mdl-card__title blog-home-item-title">
                    <h4 class="blog-home-item-heading">
                        <div class="blog-home-item-text">{{ post.title }}</div>
                        <div class="blog-post-created-date blog-home-item-text"> {{ post.created | date }} </div>
                    </h4>
                  </div>
                </div>
            </a>
        

        
    {% endfor %}

{% endblock %}

{% block tab %}
    var tab = "blog";
{% endblock %}
